<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WAC3</title>
  <meta name="description" content="WAC3">
  <meta name="keywords" content="celiaco test">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--base content-->
  <%- contenido -%>

  <!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Sobre Nosotros</h4>
            </div>
            <div class="info-sec">
              <p>Una página web gratuita, donde la gente podrá realizar encuestas para poder diagnosticar síntomas de celiaquía y obtener información sobre la misma.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Enlaces Rapidos</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="#banner"><i class="fa fa-circle"></i>Inicio</a></li>
                <li><a href="#service"><i class="fa fa-circle"></i>Servicios</a></li>
                <li><a href="#contact"><i class="fa fa-circle"></i>Contacto</a></li>
                <li><a href="/login"><i class="fa fa-circle"></i>Administrador</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Siguenos</h4>
            </div>
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><a style="text-decoration: none;" href="https://www.facebook.com/carlos.desolaearle?lst=1755271254%3A546449003%3A1516708830"><i class="fa fa-facebook"></i></li></a>
                <li class="bgdark-blue"><a style="text-decoration: none;" href="https://www.linkedin.com/in/carlos-miguel-de-sola-earle-723a622a/"><i class="fa fa-linkedin"></i></li></a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            © Copyright Medilab Theme. All Rights Reserved
            <div class="credits">
              <!—
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medilab
              —>
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ footer-->

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="contactform/contactform.js"></script>
  <script type="text/javascript">
     $(window).on('load',function(){
       $('#modal').modal('show');
     });
  </script>

</body>

</html>
